

<div class="navigation-bar">
    <btn-group-component
        [btnArray] = "buttons"
        [activeBtn]="activeTimeSpanBtn"
        (btnSelected)="timeSpanBtnClicked($event)">
    </btn-group-component>

    <div class="flex-row">
        <!--<button>
            <fa-icon [icon]="faRefresh"></fa-icon>
        </button>-->
        <button (click)="previous()">
            <fa-icon [icon]="faArrowLeft"></fa-icon>
        </button>
        <button (click)="next()">
            <fa-icon [icon]="faArrowRight"></fa-icon>
        </button>
    </div>
</div>

<div class="scheduler">

    <!--header-->
    <div class="scheduler-header">
        <!--first row-->
        <div></div>
        <span class="flex-column">

            <!--first line - time span title-->
            <div>
                <h2 *ngIf="timeSpan !=='day'" [style.min-width]="'290px'">{{startDate | date:'dd.' }} - {{endDate | date:'dd. MMMM yyyy'}}</h2>
                <h2 *ngIf="timeSpan ==='day'"  [style.min-width]="'200px'">{{endDate | date:'dd. MMMM yyyy'}}</h2>
            </div>

            <!--second line - week days-->
            <div class="flex-row" *ngIf="timeSpan !== 'day'">
                <div *ngFor="let item of getWeekDays();"
                    [class.active]="isCurrent(item)">{{item | date:'EE' | slice:0:2}}
                </div>
            </div>
            <!--second line - week day-->
            <div class="flex-row" 
                *ngIf="timeSpan === 'day'">
                <div>{{startDate | date:'EEEE'}}</div>
            </div>

            <!--third line - days or hours-->
            <div class="flex-row">
                <div *ngFor="let item of getColumns();"
                    [class.active]="isCurrent(item)">{{item}}
                </div>
            </div>
        </span>
    </div>

    <!--content-->
    <div class="scheduler-content" id="scheduler-content-row">
        <div class="scheduler-content-row"
            *ngFor="let schedulerRow of schedulerRows">
             <!-- background -->
            <div class="background" id="background">
                <div>{{schedulerRow.label}}</div>
                <div #cellWidth
                    *ngFor="let item of getColumns()"
                    [class.active]="isCurrent(item)">
                </div>
            </div>
            <!-- foreground -->
            <div  *ngFor="let schedulerEvent of schedulerRow.schedulerEvents" >
                <div *ngIf="isBetween(schedulerEvent)"            
                    class="scheduler-event"
                    [ngClass]="getClassStyle(schedulerEvent)"
                    [style.left.px]="getSchedulerEventLeftPosition(schedulerEvent.startDate)"
                    [style.width.px]="getSchedulerEventWidthPosition(schedulerEvent)"
                    (click)="schedulerEventClicked(schedulerEvent)">{{schedulerEvent.label}}
                </div>
            </div>
            
        </div>
    </div>

</div>