

<div class="navigation-bar">
    <h2 *ngIf="timeSpan !=='DAY'">{{startDate | date:'dd.' }} - {{endDate | date:'dd.MMMM yyyy'}}</h2>
    <h2 *ngIf="timeSpan ==='DAY'">{{endDate | date:'dd.MMMM yyyy'}}</h2>
    <btn-group-component
        [btnArray] = "buttons"
        [activeBtn]="'DAY'"
        (clickedBtn)="clickedBtn($event)">
    </btn-group-component>
</div>

<div class="scheduler">
    <!--header-->
    <div class="scheduler-header">
        <div></div>
        <div></div>
    </div>

    <div class="scheduler-header">
        <div></div>
        <div *ngFor="let item of getColumns()"
        [class.active]="isCurrent(item)">{{item}}</div>
    </div>

    <!--content-->
    <div class="scheduler-content">
       
        <div class="scheduler-content-row"
            *ngFor="let schedulerRow of filteredSchedulerRows">

             <!-- background -->
            <div class="background">
                <div>{{schedulerRow.label}}</div>
                <div *ngFor="let item of getColumns()"
                [class.active]="isCurrent(item)"></div>
            </div>

            <!-- foreground -->
            <div *ngFor="let schedulerEvent of schedulerRow.schedulerEvents" 
            class="scheduler-event"
            [ngClass]="getStateClass(schedulerEvent)"
            [style.left]="getSchedulerEventLeftPosition(schedulerEvent.startDate) + 'px'"
            [style.width]="getSchedulerEventWidthPosition(schedulerEvent.startDate, schedulerEvent.endDate) + 'px'"
            (click)="schedulerEventClicked(schedulerEvent)">
                {{schedulerEvent.label}}
            </div>
        </div>
      
    </div>

</div>