
<div class="header">
    <h1>Dropdowns</h1>
    <theme-changer-component></theme-changer-component>
</div>

<div class="content">

    <div class="container">
        <h2>multi-select-component</h2>
        <multi-select-component
        [items]="items"
        [faIcon]="faFilter"
        [buttonText]="'Früchte'"
        [withFilter]="true"
        [filterPlaceholder]="placeholder"
        ></multi-select-component>
        
        <multi-select-component
        [items]="items"
        [faIcon]="faFilter"
        [withFilter]="false"
        ></multi-select-component>
    </div>
   
</div>