@import 'src/content/baseVariables';

$gray-color: #ddd;
$input-height: 35px;

.datepicker{
    position: relative;
    display: inline-block;
    margin: 0px 10px;
}

input{
    height: $input-height;
    font-size: 1.2em;
    outline: none;
    font-family: $font-family;
    border: 1px solid $gray-color;
    padding: 2px 5px 2px 10px;
    cursor: pointer;
    color: var(--text-color);
    background: transparent;
}

.btn-overlay{
    height: $input-height;
    position: absolute;
    top: 0;
    right: 0;
    background: var(--bg-color);
    border: 1px solid $gray-color;
    padding: 2px 10px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    
    fa-icon{
        color: var(--primary-color);
        font-size: 1.5em;
        display: contents;
    }

    &:hover{
        background-color: var(--primary-color);
        fa-icon{
            color: var(--fa-icon-color);
        }
    }
    
}
