@import 'src/content/_baseVariables';


:host{
  display: inline-block;
  box-sizing: border-box;
  margin: 10px;
  height: 150px;
  width: 150px;
}

.progress-bar {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background:conic-gradient(var(--primary-color) 5%, #ddd 5%);
  transition: background 1s linear;

  .inner-content {
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    background-color: var(--bg-color);
    border-radius: 50%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  .text {
    position: absolute;
    color: var(--text-color);
    width: 100%; 
    font-size: 1.5em;
    z-index: 4;
  }

  &.bordered{
    border: 1px solid var(--primary-color);
  
    .inner-content {
      border: 1px solid var(--primary-color);
    }
  }
}



$progress-bar-stroke-width: 1.8;
$progress-bar-size: 300px;

.rounded-progress-bar{
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;

  svg {
    height: $progress-bar-size;
    transform: rotate(-90deg);
    width: $progress-bar-size;
  
    .progress-background {
      fill: none;
      stroke: #e2eff0;
      stroke-width: $progress-bar-stroke-width;
    }
    
    .progress-indicator{
      fill: none;
      stroke: #78bec7;
      stroke-dasharray: 100 100;
      stroke-dashoffset: 100;
      stroke-linecap: round;
      stroke-width: $progress-bar-stroke-width;
      transition: stroke-dashoffset 1s ease-in-out;
    }
  }

  .text {
    position: absolute;
    color: var(--text-color);
    margin: auto;
    font-size: 1.5em;
    z-index: 4;
  }

}


