@import 'src/content/_baseVariables';


.container{
  min-width: 650px;
  justify-content: center;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}

@media only screen and (max-width: 1100px) {
  .grid{
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 925px) {
  .container{
    min-width: auto;
  }

  .grid{
    grid-template-columns: 1fr !important;
  }
}