
<div class="header">
    <h1>Cards</h1>
    <theme-changer-component></theme-changer-component>
</div>

<div class="content">

    <div class="container">
        <h2>card-component</h2>

        <div class="grid">
            <card-component
            [imageUrl]="'assets/Bild1.jpg'"
            [title]="'Überschrift 1'"
            [description]="'Lorem ipsum dolor sit amet, consetetur sadipscing elitr'">
            </card-component>

            <card-component
            [bgColor]="'#91eae1'"
            [title]="'Überschrift 1'"
            [description]="'Lorem ipsum dolor sit amet, consetetur sadipscing elitr'">
            </card-component>

            <card-component
            [title]="'Überschrift 1'"
            [description]="'Lorem ipsum dolor sit amet, consetetur sadipscing elitr'">
            </card-component>

            <card-component
            [title]="'Überschrift 1'">
            </card-component>
            
            <card-component
            [imageUrl]="'assets/Bild1.jpg'"
            [title]="'Überschrift 1'">
            </card-component>

            <card-component
            [bgColor]="'#91eae1'"
            [title]="'Überschrift 1'">
            </card-component>
        </div>
       
    </div>
   
</div>






    








