@import 'src/content/_baseVariables';

$light-gray-color: #ddd;


button {
  position: relative;
  border: 0;
  border-radius: 50%;
  padding: 20px 22px;
  margin: 5px;
  background: $light-gray-color;
  cursor: pointer;
  font-size: 1.2em;

  fa-icon{
    color: $gray;
  }

  &:hover {
    background: var(--primary-color) !important;
  }
}


.container{
  min-width: 650px;
  justify-content: center;
}

