@import 'src/content/_baseVariables';

/*
CSS Variables -> --primary-color for changing theme
*/

$btnHeight: 45px;
$borderRadius: 4px;
$borderWidth: 2px;

:host{
  display: inline-block;
}

.segmented-btn{
    margin: 10px auto;
}

button {
  position: relative;
  height: $btnHeight;
  padding: 10px 25px;
  border: 0;
  font-weight: 300;
  font-size: $font-size;
  border: $borderWidth solid var(--primary-color);
  background: transparent;
  color: var(--primary-color);
  cursor: pointer;
  margin-right: -$borderWidth;
  transition: 0.25s;

  fa-icon{
    color: var(--primary-color);
  }

  span{
    margin: 0px 5px;
  }

  &:first-of-type{
    border-top-left-radius: $borderRadius;
    border-bottom-left-radius: $borderRadius;
  }

  &:last-of-type{
    border-top-right-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
    margin-right: 0;
  }

  &:hover, &.active{
    background-color: var(--primary-color);
    color: var(--fa-icon-color);

    fa-icon{
        color: var(--fa-icon-color);
    }
  }

  &:hover{
    filter: $brightness;
  }
}

