@import 'src/content/_baseVariables';

$btnHeight: 45px;
/******************************************
CSS Variables -> ---bg-color for changing theme
**************************************/

:host{
  display: inline-block;
  position: relative;
}

.menu{
  padding: 5px;
  position: absolute;
  top: calc($btnHeight + 5px);
  min-width: 150px;
  width: max-content;
  height: auto;
  border: 1px solid rgb(255,255, 255, 0.5);
  background: var(--bg-color);
  z-index: 9;
  box-sizing: border-box;
  transform: scaleY(0);    
  transform-origin: top;
  transition: transform 0.2s ease-in-out;

  &.left{
    left: 5px;
  }

  &.right{
    right: 5px;
  }

  &.show{
    transform: scaleY(1);
  }

}

