
<div class="header">
    <h1>Progressbars</h1>
    <theme-changer-component></theme-changer-component>
</div>

<div class="content">

    <div class="container">
        <h2>rectangle-progressbar-component</h2>
        <div class="flex-row"
            [style.justify-content]="'center'">
            <button *ngIf="!isRunning"
                (click)="runProgress()">
                <fa-icon [icon]="faPlay"></fa-icon>
            </button>
            <button *ngIf="isRunning"
                (click)="stopProgress()">
                <fa-icon [icon]="faPause"></fa-icon>
            </button>
            <rectangle-progressbar-component
            [percentage]="progress"
            ></rectangle-progressbar-component>
        </div>

        <rectangle-progressbar-component
        [percentage]="60"
        [progressColor]="'red'"
        [progressBgColor]="'#fbdddd'"
        [height]="15"
        ></rectangle-progressbar-component>

        <rectangle-progressbar-component
        [percentage]="60"
        [progressColor]="'#115cb9'"
        [height]="10"
        ></rectangle-progressbar-component>
    </div>

    <div class="container">
        <h2>rectangle-progressbar-component(bordered)</h2>
        <div class="flex-row"
            [style.justify-content]="'center'">
            <button *ngIf="!isRunning"
                (click)="runProgress()">
                <fa-icon [icon]="faPlay"></fa-icon>
            </button>
            <button *ngIf="isRunning"
                (click)="stopProgress()">
                <fa-icon [icon]="faPause"></fa-icon>
            </button>
            <rectangle-progressbar-component
            [percentage]="progress"
            [bordered]="true"
            [progressBgColor]="'transparent'"
            ></rectangle-progressbar-component>
        </div>

        <rectangle-progressbar-component
        [percentage]="60"
        [progressColor]="'red'"
        [progressBgColor]="'transparent'"
        [bordered]="true"
        ></rectangle-progressbar-component>
    </div>

    <div class="container">
        <h2>rectangle-progressbar-component(bordered,striped)</h2>
        <div class="flex-row"
            [style.justify-content]="'center'">
            <button *ngIf="!isRunning"
                (click)="runProgress()">
                <fa-icon [icon]="faPlay"></fa-icon>
            </button>
            <button *ngIf="isRunning"
                (click)="stopProgress()">
                <fa-icon [icon]="faPause"></fa-icon>
            </button>
            <rectangle-progressbar-component
            [style.width.px]="350"
            [percentage]="progress"
            [progressBgColor]="'transparent'"
            [bordered]="true"
            [striped]="true"
            ></rectangle-progressbar-component>
        </div>

        <rectangle-progressbar-component
        [percentage]="60"
        [progressColor]="'#115cb9'"
        [progressBgColor]="'transparent'"
        [bordered]="true"
        [striped]="true"
        ></rectangle-progressbar-component>

        <rectangle-progressbar-component
        [percentage]="30"
        [progressColor]="'#ff8f00'"
        [progressBgColor]="'transparent'"
        [bordered]="true"
        [striped]="true"
        ></rectangle-progressbar-component>
    </div>

    <div class="container">
        <h2>rectangle-progressbar-component(gradient)</h2>
        <div class="flex-row"
            [style.justify-content]="'center'">
            <button *ngIf="!isRunning"
                (click)="runProgress()">
                <fa-icon [icon]="faPlay"></fa-icon>
            </button>
            <button *ngIf="isRunning"
                (click)="stopProgress()">
                <fa-icon [icon]="faPause"></fa-icon>
            </button>
            <rectangle-progressbar-component
            [percentage]="progress"
            [bordered]="true"
            [gradient]="true"
            [progressBgColor]="'transparent'"
            ></rectangle-progressbar-component>
        </div>

        <rectangle-progressbar-component
        [percentage]="30"
        [bordered]="true"
        [gradient]="true"
        [progressBgColor]="'transparent'"
        ></rectangle-progressbar-component>
    </div>



    <div class="container">
        <h2>stroked-progressbar-component</h2>
        <div class="flex-row"
            [style.justify-content]="'center'">
            <button *ngIf="!isRunning"
                (click)="runProgress()">
                <fa-icon [icon]="faPlay"></fa-icon>
            </button>
            <button *ngIf="isRunning"
                (click)="stopProgress()">
                <fa-icon [icon]="faPause"></fa-icon>
            </button>
            <stroked-progressbar-component
            [percentage]="progress"
            [progressBgColor]="'#d2f5f1'"
            [progressColor]="'#00bdab'"
            ></stroked-progressbar-component>
        </div>
        <stroked-progressbar-component
        [style.width.px]="200"
        [strokeWidth]="50"
        [strokeDasharray]="'15 5'"
        [percentage]="33"
        [progressBgColor]="'#ddd'"
        [progressColor]="'red'"
        ></stroked-progressbar-component>

        <stroked-progressbar-component
        [style.width.px]="450"
        [strokeWidth]="60"
        [strokeDasharray]="'15 5'"
        [percentage]="75"
        [progressBgColor]="'#f9dcb6'"
        [progressColor]="'#ff8f00'"
        ></stroked-progressbar-component>

    </div>


    <div class="container">
        <h2>circular-progressbar-component</h2>
        <div class="flex-row"
        [style.justify-content]="'center'">
            <button *ngIf="!isRunning"
                (click)="runProgress()">
                <fa-icon [icon]="faPlay"></fa-icon>
            </button>
            <button *ngIf="isRunning"
                (click)="stopProgress()">
                <fa-icon [icon]="faPause"></fa-icon>
            </button>
            <circular-progressbar-component
            [percentage]="progress"
            [progressWidth]="10"
            ></circular-progressbar-component>
        </div>
    
        <circular-progressbar-component
        [percentage]="10"
        [unit]="'Stück'"
        [progressColor]="'red'"
        [style.width.px]="200"
        [style.height.px]="200"
        ></circular-progressbar-component>

        <circular-progressbar-component
        [percentage]="40"
        [unit]="'€'"
        [progressColor]="'#ff8f00'"
        [progressWidth]="40"
        [fontSize]="4"
        [style.width.px]="300"
        [style.height.px]="300"
        ></circular-progressbar-component>
    </div>

    <div class="container">
        <h2>circular-progressbar-component(bordered)</h2>
        <div class="flex-row"
        [style.justify-content]="'center'">
            <button *ngIf="!isRunning"
                (click)="runProgress()">
                <fa-icon [icon]="faPlay"></fa-icon>
            </button>
            <button *ngIf="isRunning"
                (click)="stopProgress()">
                <fa-icon [icon]="faPause"></fa-icon>
            </button>
            <circular-progressbar-component
            [percentage]="progress"
            [progressWidth]="10"
            [progressBgColor]="'black'"
            [bordered]="true"
            ></circular-progressbar-component>
        </div>
      
        <circular-progressbar-component
        [percentage]="10"
        [unit]="'Stück'"
        [progressColor]="'red'"
        [progressBgColor]="'white'"
        [bordered]="true"
        [style.width.px]="200"
        [style.height.px]="200"
        ></circular-progressbar-component>

        <circular-progressbar-component
        [percentage]="50"
        [unit]="'€'"
        [progressColor]="'#0b5e56'"
        [progressBgColor]="'#d2f5f1'"
        [bordered]="true"
        [progressWidth]="40"
        [fontSize]="4"
        [style.width.px]="300"
        [style.height.px]="300"
        ></circular-progressbar-component>
    </div>


    <div class="container">
        <h2>circular-progressbar-component(roundedCorner)</h2>
        <div class="flex-row"
        [style.justify-content]="'center'">
            <button *ngIf="!isRunning"
                (click)="runProgress()">
                <fa-icon [icon]="faPlay"></fa-icon>
            </button>
            <button *ngIf="isRunning"
                (click)="stopProgress()">
                <fa-icon [icon]="faPause"></fa-icon>
            </button>
            <circular-progressbar-component
            [percentage]="progress"
            [progressBgColor]="'#111'"
            [roundedCorner]="true"
            ></circular-progressbar-component>
        </div>
      
        <circular-progressbar-component
        [percentage]="60"
        [unit]="'€'"
        [progressColor]="'#0b5e56'"
        [progressBgColor]="'#d2f5f1'"
        [fontSize]="4"
        [style.width.px]="300"
        [style.height.px]="300"
        [roundedCorner]="true"
        ></circular-progressbar-component>
    </div>


</div>