
<div class="header">
   <h1>Buttons</h1>
   <theme-changer-component></theme-changer-component>
</div>

<div class="content">

    <div class="container">
        <h2>bordered-btn-component <br>(hoverStyle shining)</h2>

        <div class="grid-container">
            <p>Text</p>
            <bordered-btn-component
            [hoverStyle]="shiningStyle"
            [buttonText]="buttonText"
            [disabled] = "false">
            </bordered-btn-component>

            <p>Text and Icon</p>
            <bordered-btn-component
            [hoverStyle]="shiningStyle"
            [buttonText]="buttonText"
            [disabled] = "false"
            [faIcon]="faTwitter">
            </bordered-btn-component>

            <p>Icon</p>
            <bordered-btn-component
            [hoverStyle]="shiningStyle"
            [disabled] = "false"
            [faIcon]="faTwitter">
            </bordered-btn-component>

            <p>Disabled</p>
            <bordered-btn-component
            [hoverStyle]="shiningStyle"
            [buttonText]="buttonText"
            [disabled] = "true"
            [faIcon]="faTwitter">
            </bordered-btn-component>

            <p>Spinning Icon</p>
            <bordered-btn-component
            [hoverStyle]="shiningStyle"
            [buttonText]="buttonText"
            [disabled] = "false"
            [faIcon]="faLoader"
            [spinning]="true">
            </bordered-btn-component>

            <p>Hovered/ Active</p>
            <bordered-btn-component
            [hoverStyle]="shiningStyle"
            [buttonText]="buttonText"
            [disabled] = "false"
            [faIcon]="faLoader"
            [active]="true">
            </bordered-btn-component>

        </div>

    </div>

    
    <div class="container">
        <h2>bordered-btn-component <br>(hoverStyle filling)</h2>

        <div class="grid-container">

            <p>Text</p>
            <bordered-btn-component
            [hoverStyle]="fillingStyle"
            [buttonText]="buttonText"
            [disabled] = "false">
            </bordered-btn-component>

            <p>Text and Icon (color:gray)</p>
            <bordered-btn-component
            [hoverStyle]="fillingStyle"
            [buttonText]="buttonText"
            [color]="'gray'"
            [disabled] = "false"
            [faIcon]="faTwitter">
            </bordered-btn-component>

            <p>Icon</p>
            <bordered-btn-component
            [hoverStyle]="fillingStyle"
            [disabled] = "false"
            [faIcon]="faTwitter">
            </bordered-btn-component>

            <p>Disabled</p>
            <bordered-btn-component
            [hoverStyle]="fillingStyle"
            [buttonText]="buttonText"
            [disabled] = "true"
            [faIcon]="faTwitter">
            </bordered-btn-component>

            <p>Spinning Icon</p>
            <bordered-btn-component
            [hoverStyle]="fillingStyle"
            [buttonText]="buttonText"
            [disabled] = "false"
            [faIcon]="faLoader"
            [spinning]="true">
            </bordered-btn-component>

            <p>Hovered/ Active</p>
            <bordered-btn-component
            [hoverStyle]="fillingStyle"
            [buttonText]="buttonText"
            [disabled] = "false"
            [faIcon]="faLoader"
            [active]="true">
            </bordered-btn-component>
        </div>
    </div>


    <div class="container">
        <h2>filled-btn-component <br>(hoverStyle ripple)</h2>

        <div class="grid-container">

            <p>Text</p>
            <filled-btn-component
            [buttonText]="buttonText"
            [disabled] = "false">
            </filled-btn-component>

            <p>Text and Icon</p>
            <filled-btn-component
            [buttonText]="buttonText"
            [faIcon]="faTwitter"
            [disabled] = "false">
            </filled-btn-component>

            <p>Icon</p>
            <filled-btn-component
            [disabled] = "false"
            [faIcon]="faTwitter">
            </filled-btn-component>

            <p>Disabled</p>
            <filled-btn-component
            [buttonText]="buttonText"
            [disabled] = "true"
            [faIcon]="faTwitter">
            </filled-btn-component>

            <p>Spinning Icon</p>
            <filled-btn-component
            [buttonText]="buttonText"
            [disabled] = "false"
            [faIcon]="faLoader"
            [spinning]="true">
            </filled-btn-component>

            <p>Hovered/ Active</p>
            <filled-btn-component
            [buttonText]="buttonText"
            [disabled] = "false"
            [faIcon]="faLoader"
            [active]="true">
            </filled-btn-component>

        </div>
    </div>


    <div class="container">
        <h2>segmented-btn-component</h2>

        <segmented-btn-component
        [btnArray] = "buttons"
        (btnSelected)="clickedBtn($event)">
        </segmented-btn-component>
        <p class="output">Output: <span>{{clickedBtnText}}</span></p>

        <br>

        <segmented-btn-component
        [btnArray] = "buttons2">
        </segmented-btn-component>
        
        <br>

        <segmented-btn-component
        [btnArray] = "buttons3">
        </segmented-btn-component>

    </div>
   

    <div class="container">
        <h2>circle-btn-component</h2>

        <div class="grid-container">

            <p>Icon</p>
            <circle-btn-component
            [faIcon]="faTwitter">
            </circle-btn-component>
    
            <p>BackgroundColor and Icon</p>
            <circle-btn-component
            [backgroundColor]="'#1ae3d0'"
            [faIcon]="faTwitter">
            </circle-btn-component>
    
            <p>BackgroundColor and Icon</p>
            <circle-btn-component
            [backgroundColor]="'#e3c11a'"
            [faIcon]="faTwitter">
            </circle-btn-component>

        </div>
    </div>
   
</div>