
<div class="header">
   <h1>Buttons</h1>
   <theme-changer-component></theme-changer-component>
</div>

<div class="content">

    <div class="container">
        <h2>border-btn-component (style shining)</h2>

        <border-btn-component
        [style]="shiningStyle"
        [buttonText]="buttonText"
        [disabled] = "false">
        </border-btn-component>

        <border-btn-component
        [style]="shiningStyle"
        [buttonText]="buttonText"
        [disabled] = "false"
        [faIcon]="faTwitter">
        </border-btn-component>

        <border-btn-component
        [style]="shiningStyle"
        [disabled] = "false"
        [faIcon]="faTwitter">
        </border-btn-component>

        <border-btn-component
        [style]="shiningStyle"
        [buttonText]="buttonText"
        [disabled] = "true"
        [faIcon]="faTwitter">
        </border-btn-component>

        <border-btn-component
        [style]="shiningStyle"
        [buttonText]="buttonText"
        [disabled] = "false"
        [faIcon]="faLoader"
        [spinning]="true">
        </border-btn-component>

        <border-btn-component
        [style]="shiningStyle"
        [buttonText]="buttonText"
        [disabled] = "false"
        [faIcon]="faLoader"
        [active]="true">
        </border-btn-component>

    </div>

    
    <div class="container">
        <h2>border-btn-component (style filling)</h2>

        <border-btn-component
        [style]="fillingStyle"
        [buttonText]="buttonText"
        [disabled] = "false">
        </border-btn-component>

        <border-btn-component
        [style]="fillingStyle"
        [buttonText]="buttonText"
        [color]="'gray'"
        [disabled] = "false"
        [faIcon]="faTwitter">
        </border-btn-component>

        <border-btn-component
        [style]="fillingStyle"
        [disabled] = "false"
        [faIcon]="faTwitter">
        </border-btn-component>

        <border-btn-component
        [style]="fillingStyle"
        [buttonText]="buttonText"
        [disabled] = "true"
        [faIcon]="faTwitter">
        </border-btn-component>

        <border-btn-component
        [style]="fillingStyle"
        [buttonText]="buttonText"
        [disabled] = "false"
        [faIcon]="faLoader"
        [spinning]="true">
        </border-btn-component>

        <border-btn-component
        [style]="fillingStyle"
        [buttonText]="buttonText"
        [disabled] = "false"
        [faIcon]="faLoader"
        [active]="true">
        </border-btn-component>
    </div>


    <div class="container">
        <h2>btn-group-component</h2>

        <btn-group-component
        [btnArray] = "buttons"
        (btnSelected)="clickedBtn($event)">
        </btn-group-component>
        <p class="output">Output: <span>{{clickedBtnText}}</span></p>

        <br>

        <btn-group-component
        [btnArray] = "buttons2">
        </btn-group-component>
        
        <br>

        <btn-group-component
        [btnArray] = "buttons3">
        </btn-group-component>

    </div>
   

    <div class="container">
        <h2>circle-btn-component</h2>

        <circle-btn-component
        [faIcon]="faTwitter">
        </circle-btn-component>

        <circle-btn-component
        [backgroundColor]="'#1ae3d0'"
        [faIcon]="faTwitter">
        </circle-btn-component>

        <circle-btn-component
        [backgroundColor]="'#e3c11a'"
        [faIcon]="faTwitter">
        </circle-btn-component>

        <!--<circle-btn-component
        [active]="true"
        [backgroundColor]="'#e3c11a'"
        [faIcon]="faTwitter">
        </circle-btn-component>-->

    </div>
   
</div>