@import 'src/content/_baseVariables';

$normal-state-color: $primary-color;
$normal-state-color-dark: darken($normal-state-color, 5%);
$critical-state-color: #f58b20; 

:host{
  display: inline-block;
  box-sizing: border-box;
  margin: 10px;
  position: relative;
}

.stroked-rectangle-progress-bar{
  stroke-dasharray: 5;
  stroke-width: 30;
  display: inline-block;
  margin: auto;
  width: 100%;
  height: 40px;
  resize: both;

  svg{
    width: 100%;
    height: 100%;
  }
}


.stroked-circular-progress-bar{
  position: relative;
  padding: 1px;

  svg{
    width: 100%;
    height: 100%;
    margin: auto;
  }
    
  circle {
    stroke-width: 30;
    stroke-dasharray: 7 4;
    stroke: var(--primary-color);
    fill: none;
  }

  .circular-progress-bar {
    position: absolute;
    top:0;
    left:0;
    height: 101%;
    width: 101%;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background:conic-gradient(var(--primary-color) 5%, transparent 5%);
    transition: background 1s linear;
    opacity: 0.7;
  }

  .inner-content {
    position: absolute;
    top: 35px;
    right: 37px;
    bottom: 37px;
    left: 35px;
    background-color: var(--bg-color);
    border-radius: 50%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }

  .text {
    position: absolute;
    top:0;
    left:0;
    color: var(--text-color);
    width: 100%; 
    font-size: 1.5em;
    z-index: 4;
  }
}
