@import 'src/content/_baseVariables';

/*************************************
CSS Variabes -> --primary-color, --fa-icon-color, --border-color for changing theme
*************************************/

$btnHeight: 45px;
$borderRadius: 4px;
$primary-color-light: rgb(0,189, 171, 0.20);


:host{
  display: inline-block;
  position: relative;
}

button{
  position: relative;
  height: $btnHeight;
  margin: 0px 5px;
  padding: 10px 25px;
  border: 0;
  font-weight: 300;
  font-size: 1.2em;
  background: var(--primary-color);
  color: var(--fa-icon-color);
  cursor: pointer;
  border-radius: $borderRadius;
  z-index: 10;

  fa-icon{
    color: var(--fa-icon-color);
  }

  span{
    margin: 0px 5px;
  }
  
  &:hover{
      filter: brightness(0.9);
  }
}

.menu{
  padding: 5px;
  position: absolute;
  top: calc($btnHeight + 5px);
  min-width: 150px;
  width: max-content;
  height: auto;
  border: 1px solid rgb(255,255, 255, 0.5);
  border-radius: 0;
  background: var(--bg-color);
  z-index: 9;
  box-sizing: border-box;
  transform: scaleY(0);    
  transform-origin: top;
  transition: transform 0.2s ease-in-out;

  &.left{
    left: 5px;
  }

  &.right{
    right: 5px;
  }

  &.show{
    transform: scaleY(1);
  }

  input[type=text]{
    height: 35px;
    border: 1px solid $border-color;
    outline: none;
    padding: 2px 5px 2px 10px;
    width: 150px;
    cursor: pointer;
    font-size: $font-size;
    background:transparent;

    &:focus{
      border-color: var(--primary-color);
    }
  }  

  ul{
    list-style: none;
    padding: 0px;
    margin: 5px 0px 0px 0px;
  
    li{
      display: block;
      position: relative;
      cursor: pointer;
      font-size: $font-size;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      padding: 5px; 
      color: var(--text-color);
      border-bottom: 1px solid rgb(var(--border-color), 0.2);
      text-align: left;
      min-height: 25px;
      box-sizing: border-box;

      input[type=checkbox]{
        margin-right: 10px;
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      &:last-of-type{
        border-bottom:none;
      }

      .text{
        padding-left: 10px;
        padding-right: 10px;
        line-height: 30px;
      }

      &:hover, &.active{
        background-color: $primary-color-light;
        color: var(--primary-color);
      }
    }
  }
 
}

