@import 'src/content/_baseVariables';

$input-height: 40px;

.theme-input{
  position: absolute;
  top: 5px;
  right: 10px;
  margin: 0px 10px;

  p{
    margin:0;
  }

  .flex-row{
    position: relative;
  }

  .color-preview{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    background: var(--primary-color);
    left: 5px;
    top: 10px;
  }

  input{
    height: $input-height;
    box-sizing: border-box;
    border: 1px solid $border-color;
    border-right: none;
    border-radius: 0;
    font-size: 1.2em;
    outline: none;
    font-family: $font-family;
    padding: 2px 5px 2px 40px;
    width: 150px;
    cursor: pointer;

    &:focus{
      border-color: var(--primary-color);
    }
  }

  .refresh-btn{
    height: $input-height;
    border: 1px solid var(--primary-color);
    padding: 7px;
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: background 0.6s ease;
    box-sizing: border-box;

    fa-icon{
      font-size: 1.5em;
      color: white;
    }

    &:hover{
      filter: brightness(0.9);
    }
  }
}

