@import 'src/content/_baseVariables';

$text-color: var(--primary-color);
$btnHeight: 50px;

button {
  position: relative;
  height: $btnHeight;
  padding: 10px 30px;
  margin: 5px;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  font-weight: 300;
  font-size: $font-size;
  background: transparent;
  background-image: linear-gradient(var(--primary-color), var(--primary-color));
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size .5s, color .5s;
  cursor: pointer;

  fa-icon{
    color: var(--primary-color);
  }

  .text{
    margin-left: 10px;
    vertical-align: text-bottom;
  }
}

button:hover{
  &:not([disabled]){
    background-size: 100% 100%;
    color: $gray;
  
    fa-icon{
      color: $gray;
    }
  }
}


button:disabled,
button[disabled]{
  opacity: 0.5;
  background-size: 0% 100%;
}


.loading::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 15px;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: white;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
      transform: rotate(0turn);
  }
  to {
      transform: rotate(1turn);
  }
}



.gray{
  border: 2px solid $gray;
  color: $gray;
  background-image: linear-gradient($gray, $gray);

  fa-icon{
    color: $gray;
  }

  &:hover{
    &:not([disabled]){
      color: var(--primary-color);
    
      fa-icon{
        color: var(--primary-color);
      }
    }
  }
}


.gray.loading::after{
  border-top-color: var(--primary-color);
}


/*=============================================
Responsive Styles 
=================================================*/
  /* Responsive Styles */
  @media screen and (max-width: 700px) {
 
  }