
/**************************************************
  Colors
***************************************************/
//$primary-color-dark: #039788;
$primary-color: #00bdab; 
$primary-color-dark: darken($primary-color, 5%);
$primary-color-light: lighten($primary-color, 57%);

$gray: #333;
$text-color: $gray; 
$bg-color: #fbfbfb;

$border-color: #ccc;
$box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

/**************************************************
  Fonts
***************************************************/
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$font-size: 17px;

$font-family: 'Source Sans Pro';
@font-face {
  font-family: $font-family;
  src: url(./fonts/SourceSansPro-Light.ttf) format('truetype');
  font-weight: $font-weight-light;
}

@font-face {
  font-family: $font-family;
  src: url(./fonts/SourceSansPro-Regular.ttf) format('truetype');
  font-weight: $font-weight-normal;
}

@font-face {
  font-family: $font-family;
  src: url(./fonts/SourceSansPro-Semibold.ttf) format('truetype');
  font-weight: $font-weight-semibold;
}

@font-face {
  font-family: $font-family;
  src: url(./fonts/SourceSansPro-Bold.ttf) format('truetype');
  font-weight: $font-weight-bold;
}


$font-family-productname: 'Comfortaa';
@font-face {
  font-family: $font-family-productname;
  src: url(./fonts/Comfortaa-Light.ttf) format('truetype');
  font-weight: $font-weight-light;
}

@font-face {
  font-family: $font-family-productname;
  src: url(./fonts/Comfortaa-Regular.ttf) format('truetype');
  font-weight: $font-weight-normal;
}

@font-face {
  font-family: $font-family-productname;
  src: url(./fonts/Comfortaa-Bold.ttf) format('truetype');
  font-weight: $font-weight-bold;
}


$font-family-soleil: 'soleil,sans-serif';
@font-face {
  font-family: $font-family-soleil;
  src: url(./fonts/SoleilLight.otf) format('truetype');
  font-weight: $font-weight-light;
}

@font-face {
  font-family: $font-family-soleil;
  src: url(./fonts/SoleilRegular.otf) format('truetype');
  font-weight: $font-weight-normal;
}

@font-face {
  font-family: $font-family-soleil;
  src: url(./fonts/SoleilBold.otf) format('truetype');
  font-weight: $font-weight-bold;
}


/**************************************************
  Sizes
***************************************************/
$sidebar-with: 170px;
$btnHeight: 45px;
$borderRadius: 4px;