<div class="card shadow shine"
    [style.width]="width"
    [style.height]="height"
    [style.justify-content]="!imageUrl && !bgColor ? 'end': 'space-between'">

    <img
    *ngIf="imageUrl"
    [style.height]="description?'65%':'75%'"
    [src]="imageUrl"/>

    <div *ngIf="bgColor"
    class="bg-color"
    [style.height]="description?'65%':'75%'"
    [style.background]="bgColor"></div>

    <div *ngIf="!imageUrl && !bgColor"></div>

    <h1 *ngIf="title"
    class="title">{{title}}</h1>
    
    <p *ngIf="description"
    class="description">{{description}}</p>

</div>