@import 'src/content/_baseVariables';

$border-width: 2px;
$img-height: 65%;
$title-height:15%;
$desc-height: 20%;

:host{
  display: inline-block;
  margin: 5px;
}

.card{
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  margin: 5px;
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  background: white;
  box-sizing: border-box;
  position: relative;

  & > div, img {
    height: $img-height;
  }

  & > h1 {
    height: $title-height;
  } 

  & > p {
    height: $desc-height;
  } 

  img{
    overflow: hidden;
  }

  .bg-color{
    background: var(--primary-color);
    width: 100%;
  }

  .title{
    text-align: left;
    padding: 10px 20px;
    width: auto;
    margin: 0;
  }

  .description{
    text-align: left;
    padding: 10px 20px;
    width: auto;
    margin: 0;
  }

  &::before,
  &::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
  }
}



.shine {
  transition: color 0.25s;

&::before,
&::after {
  // Set border to invisible, so we don't see a 4px border on a 0x0 element before the transition starts
  border: $border-width solid transparent;
  width: 0;
  height: 0;
}

// This covers the top & right borders (expands right, then down)
&::before {
  top: 0;
  left: 0;
}

// And this the bottom & left borders (expands left, then up)
&::after {
  bottom: 0;
  right: 0;
}
}

.shine:hover{
  color: var(--primary-color);

  fa-icon{
    color: var(--primary-color);
  }
}

// Hover styles
.shine:hover::before,
.shine:hover::after{
  width: 100%;
  height: 100%;
}

.shine:hover::before{
  border-top-color: var(--primary-color); // Make borders visible
  border-right-color: var(--primary-color);
  transition:
  width 0.25s ease-out, // Width expands first
  height 0.25s ease-out 0.25s; // And then height

  fa-icon{
    color: var(--primary-color);
  }
}

.shine:hover::after{
  border-bottom-color: var(--primary-color); // Make borders visible
  border-left-color: var(--primary-color);
  transition:
  border-color 0s ease-out 0.5s, // Wait for ::before to finish before showing border
  width 0.25s ease-out 0.5s, // And then exanding width
  height 0.25s ease-out 0.75s; // And finally height

  fa-icon{
    color: var(--primary-color);
  }
}








