<div class="card shining shadow"
  [style.width]="width"
  [style.height]="height"
  [style.justify-content]="!imageUrl && !bgColor ? 'end': 'space-between'">
  @if (imageUrl) {
    <img
      [style.height]="description?'65%':'75%'"
      [src]="imageUrl"/>
  }
  @if (bgColor) {
    <div
      class="bg-color"
      [style.height]="description?'65%':'75%'"
    [style.background]="bgColor"></div>
  }
  @if (!imageUrl && !bgColor) {
    <div></div>
  }
  @if (title) {
    <h1
    class="title">{{title}}</h1>
  }
  @if (description) {
    <p
    class="description">{{description}}</p>
  }
</div>