
<div class="header">
    <h1>Schedulers</h1>
    <theme-changer-component></theme-changer-component>
</div>

<div class="content">

    <div class="container">
        <h2>scheduling-component</h2>
        <div class="flex-row">
            <scheduling-component
                [schedulerRows]="schedulerRows"
                [timeSpan]="timeSpanWeek"
                (schedulerEventSelected)="schedulerEventSelected2($event)">
            </scheduling-component>
        </div>
        <p>Selected: {{selectedSchedulerEvent2?.label}}</p>
    </div>

    <div class="container">
        <h2>scheduling-component (striped scheduler events)</h2>
        <div class="flex-row">
            <scheduling-component
                [schedulerRows]="schedulerRows2"
                [timeSpan]="timeSpanMonth"
                (schedulerEventSelected)="schedulerEventSelected3($event)">
            </scheduling-component>
        </div>
        <p>Selected: {{selectedSchedulerEvent3?.label}}</p>
    </div>

    <div class="container">
        <h2>draggable-scheduling-component</h2>
        <div class="flex-row">
            <draggable-scheduling-component
                [schedulerRows]="schedulerRows"
                [timeSpan]="timeSpanDay"
                (schedulerRowsUpdated)="schedulerRowsUpdated($event)"
                (schedulerEventSelected)="schedulerEventSelected1($event)">
            </draggable-scheduling-component>
        </div>
        <p>Selected: {{selectedSchedulerEvent1?.label}}</p>
    </div>

</div>






    








