
<div class="header">
    <h1>Carousels</h1>
</div>

<div class="content">

    <div class="container">
        <h2>carousel-component (type 1)</h2>
        <carousel-component 
            style="width:400px"
            [slides]="slides" 
            [textArray]="textArray"
            [type]="1" 
            [diashow]="true">
        </carousel-component>
    </div>

    <div class="container">
        <h2>carousel-component (type 2)</h2>
        <carousel-component 
            style="width:400px"
            [slides]="slides" 
            [textArray]="textArray"
            [type]="2" 
            [diashow]="true">
        </carousel-component>
    </div>

    <div class="container">
        <h2>carousel-component (type 3)</h2>
        <carousel-component 
            style="width:400px"
            [slides]="slides" 
            [textArray]="textArray"
            [textPosition]="'left'"
            [type]="3" 
            [diashow]="true">
        </carousel-component>
    </div>
   
</div>






    








