
<div class="header">
    <h1>Carousels</h1>
    <theme-changer-component></theme-changer-component>
</div>

<div class="content">

    <div class="container">
        <h2>carousel-component (carouseltype fullscreen_left_right)</h2>
        <carousel-component 
            [slides]="slides" 
            [textArray]="textArray"
            [height]="300"
            [carouselStyle]="fullscreenLeftRight" 
            [diashow]="true">
        </carousel-component>
    </div>


    <div class="container">
        <h2>carousel-component (carouseltype fullscreen_overlay_left_right)</h2>
        <carousel-component 
            [slides]="slides" 
            [textArray]="textArray"
            [height]="300"
            [carouselStyle]="fullscreenOverlayLeftRight" 
            [diashow]="true">
        </carousel-component>
    </div>

    <div class="container">
        <h2>carousel-component (carouseltype fullscreen_circle)</h2>
        <carousel-component 
            [slides]="slides" 
            [textArray]="textArray"
            [height]="300"
            [carouselStyle]="fullscreenCircle" 
            [diashow]="true">
        </carousel-component>
    </div>

    <div class="container">
        <h2>carousel-component (carouseltype split_circle)</h2>
        <carousel-component 
            [slides]="slides" 
            [textArray]="textArray"
            [textPosition]="'left'"
            [height]="215"
            [carouselStyle]="splitCircle" 
            [diashow]="true">
        </carousel-component>
    </div>
   
</div>






    








