@import 'src/content/_baseVariables';


.content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}


.container{
  min-width: 650px;
}


@media only screen and (max-width: 1480px) {
  .container{
    min-width: 550px;
  }

  .content{
    grid-template-columns: 1fr !important;
  }
}

@media only screen and (max-width: 925px) {
  .container{
    min-width: auto;
  }
}
