
<ul class="sidebar">

    <li class="default"
    [routerLink]="'home'"
    [routerLinkActive]="'active'"> Components
    </li>

    <li
    [routerLink]="'cards'"
    [routerLinkActive]="'active'"> Cards
    </li>

    <li
    [routerLink]="'carousels'"
    [routerLinkActive]="'active'"> Carousels
    </li>

    <!--<li
    [routerLink]="'charts'"
    [routerLinkActive]="'active'"> Charts
    </li>-->

    <li
    [routerLink]="'buttons'"
    [routerLinkActive]="'active'"> Buttons
    </li>

    <li
    [routerLink]="'datepickers'"
    [routerLinkActive]="'active'"> Datepickers
    </li>
    
    <li
      [routerLink]="'loaders'"
      [routerLinkActive]="'active'"> Loaders
    </li>

    <li
      [routerLink]="'progressbars'"
      [routerLinkActive]="'active'"> Progressbars
    </li>

    <li
      [routerLink]="'schedulers'"
      [routerLinkActive]="'active'"> Schedulers
    </li>

    <li
      [routerLink]="'selects'"
      [routerLinkActive]="'active'"> Selects
    </li>

    <li
      [routerLink]="'splitpane'"
      [routerLinkActive]="'active'"> SplitPane
    </li>

    

</ul>

<button (click)="toogleTemplate()">
  <fa-icon [icon]="faBrush"></fa-icon>
  Toggle Theme
 </button>