
<ul class="sidebar">

    <li class="default"
    [routerLink]="'/'"> Components
    </li>

    <li
    [routerLink]="'buttons'"
    [routerLinkActive]="'active'"> Buttons
    </li>

    <li
    [routerLink]="'carousels'"
    [routerLinkActive]="'active'"> Carousels
    </li>

    <li
    [routerLink]="'datepickers'"
    [routerLinkActive]="'active'"> Datepickers
    </li>

    <li
    [routerLink]="'cards'"
    [routerLinkActive]="'active'"> Cards
    </li>

    <li
      [routerLink]="'schedulers'"
      [routerLinkActive]="'active'"> Schedulers
    </li>

    <li
    [routerLink]="'loaders'"
    [routerLinkActive]="'active'"> Loaders
  </li>

</ul>

<button (click)="toogleTemplate()">
  <fa-icon [icon]="faBrush"></fa-icon>
  Toggle Theme
 </button>