@import 'src/content/_baseVariables';

/*
CSS Variables -> --fa-icon-color for changing theme
*/

:host{
    display: inline-block;
    margin: 5px;
}

.icon-container{
    padding: 5px;
    display: flex;
    flex-direction: column;

    fa-icon{
        font-size: 40px;
        color: var(--primary-color);
    }
    
    p{
        color: var(--primary-color);
        font-size: 18px;
        font-weight: 400;
    }
}

