@import 'src/content/_baseVariables';


$normal-state-color: $primary-color;
$normal-state-color-dark: darken($normal-state-color, 5%);
$critical-state-color: #f58b20; 
$width: 200px;
/*
CSS Variables -> --primary-color for changing theme
*/

:host{
  display: inline-block;
  box-sizing: border-box;
  margin: 10px;
  height: auto;
  width: $width;
}

.progress-bar {
  position: relative;
  height: 35px;
  width: 100%;
  display: grid;
  place-items: center;
  float: left;
  background:#ddd;

  & > div {
    position: absolute;
    background: var(--primary-color);
    height: 100%;
    top:0;
    left:0;
    width: 20px;
    transition: background 1s linear;

    &.gradient{
      width: 0%;
      background-image: linear-gradient(to right, $critical-state-color, $normal-state-color) !important;
      background-size: $width 100% !important;
    }

    &.striped{
      background: repeating-linear-gradient(135deg,rgb(000, 000, 000, 0.1),rgb(000, 000, 000, 0.1) 10px,transparent 10px, transparent 20px);
    }

    &.striped-2{
      background: repeating-linear-gradient(90deg,rgb(000, 000, 000, 0.1),rgb(000, 000, 000, 0.1) 10px,var(--bg-color) 10px, var(--bg-color) 20px);
    }
  }

  &.bordered{
    border: 1px solid var(--primary-color);
  }

}


.stroked-progress-bar{
  stroke-dasharray: 5;
  stroke-width: 20;
  width: 100%;

  svg{
    width: 100%;
    height: 100%;
  }

  path{
    &:first-of-type{
      stroke: #ddd;
    }

    &:last-of-type{
      stroke: var(--primary-color);
    }
  }
}

