@import 'src/content/_baseVariables';

/*************************************
CSS Variabes -> --primary-color, --fa-icon-color, --border-color for changing theme
*************************************/

$btnHeight: 45px;
$borderRadius: 4px;
$primary-color-light: rgb(0,189, 171, 0.20);


:host{
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 500px;
}


.split-pane{
  width: 100%;
  height: 100%;
}

.pane-left{
  width: 200px;
  border: 1px solid var(--primary-color);
  min-height: 500px;
  display: inline-block;
}

.pane-right{
  width: calc(100% - 220px);
  border: 1px solid var(--primary-color);
  display: inline-block;
  min-height: 500px;
}


.divider{
  width: 10px;
  background-color: rgb(179, 179, 179);
  min-height: 500px;
  display: inline-block;
  cursor: col-resize;
}