<div class="content">

    <h1>Components</h1>

    <div class="card-container">
        <card-component
            [routerLink]="'buttons'"
            [routerLinkActive]="'active'"
            [imageUrl]="'./../../assets/preview/buttons.JPG'"
            [title]="'Buttons'">
        </card-component>

        <card-component
            [routerLink]="'selects'"
            [routerLinkActive]="'active'"
            [imageUrl]="'./../../assets/preview/selects.JPG'"
            [title]="'selects'">
        </card-component>

        <card-component
            [routerLink]="'loaders'"
            [routerLinkActive]="'active'"
            [imageUrl]="'./../../assets/preview/loaders.JPG'"
            [title]="'Loaders'">
        </card-component>
       
    </div>
   
    <div class="card-container">

        <card-component
            [routerLink]="'carousels'"
            [routerLinkActive]="'active'"
            [imageUrl]="'./../../assets/preview/carousels.JPG'"
            [title]="'Carousels'">
        </card-component>

        <card-component
            [routerLink]="'datepickers'"
            [routerLinkActive]="'active'"
            [imageUrl]="'./../../assets/preview/datepickers.JPG'"
            [title]="'Datepickers'">
        </card-component>

        <card-component
            [routerLink]="'cards'"
            [routerLinkActive]="'active'"
            [imageUrl]="'./../../assets/preview/cards.JPG'"
            [title]="'Cards'">
        </card-component>

    </div>

    <div class="card-container">

        <card-component
            [routerLink]="'schedulers'"
            [routerLinkActive]="'active'"
            [imageUrl]="'./../../assets/preview/schedulers.JPG'"
            [title]="'Schedulers'">
        </card-component>

    </div>

</div>